@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Calle falsa 123<br />
    Dpto 21, comuna falsa<br />
    <abbr title="Telefono">Telefono:</abbr>
    987654321
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:soportetienda@lalala.cl">soportetienda@lalala.cl</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@lalala.cl</a>
</address>